<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1575467678930-c7acd65d6470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Z3JhbmRtYXxlbnwwfDB8MHx8&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1 class="py-2">Find a granny near you and book a service of your choice</h1>
    <p>Find the nicest grannies around you</p>
    <a href="/offers"><button class="custom-btn btn-12">
      <span>GRANNIES!</span><span>Book A Granny</span></button>
    </a>
    <div class="align-center-searchbar">
        <%= form_with url: offers_path, method: :get, class: "d-flex py-5 search-bar" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control fonti",
            placeholder: "Find a granny"
          %>
          <%= submit_tag "Search", class: "btn btn-new" %>
        <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="container text-center border border-white rounded p-2 mt-5">
    <h3 class="text-center pb-5">Our grannies offer the following services</h3>
      <div class="row">
        <div class="col-sm">
          <%= link_to(offers_path, class: "text-decoration-none text-black" ) do %>
          <i class="fa-solid fa-baby fa-5x"></i>
          <p class="mt-3 fonti">Babysitting</p>
          <% end %>
        </div>
        <div class="col-sm">
          <%= link_to(offers_path, class: "text-decoration-none text-black" ) do %>
          <i class="fa-solid fa-bowl-rice fa-5x"></i>
          <p class="mt-3 fonti">Cooking</p>
          <% end %>
        </div>
        <div class="col-sm">
          <%= link_to(offers_path, class: "text-decoration-none text-black" ) do %>
          <i class="fa-solid fa-cake-candles fa-5x"></i>
          <p class="mt-3 fonti">Baking</p>
          <% end %>
        </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <%= link_to(offers_path, class: "text-decoration-none text-black" ) do %>
            <i class="fa-solid fa-socks fa-5x"></i>
            <p class="mt-3 fonti">Knitting</p>
            <% end %>
          </div>
          <div class="col-sm">
            <%= link_to(offers_path, class: "text-decoration-none text-black" ) do %>
            <i class="fa-solid fa-chess fa-5x"></i>
            <p class="mt-3 fonti">Boardgames</p>
            <% end %>
          </div>
          <div class="col-sm">
            <%= link_to(offers_path, class: "text-decoration-none text-black" ) do %>
            <i class="fa-solid fa-person-walking-with-cane fa-5x"></i>
            <p class="mt-3 fonti">Walking</p>
            <% end %>
          </div>
      </div>
  </div>
</div>

<div class="container text-center py-5">
  <div class="row justify-content-center">
    <div class="col-6">
    <h2 class="text-center p-2"><strong> Get to know our lovely grannies</strong></h2>
  <div class="w-100 justify-content-center align-items-center">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1581579438747-1dc8d17bbce4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="d-block w-100" alt="grannie cutting a fish">
        <div class="carousel-caption d-none d-md-block">
          <h5>Esther Kötz</h5>
          <p>loves to cut some fish for you so your hands dont get fishy.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1442458370899-ae20e367c5d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JhbmRtYXxlbnwwfDB8MHx8&auto=format&fit=crop&w=800&q=60" class="d-block w-100" alt="grinning grannie">
        <div class="carousel-caption d-none d-md-block">
          <h5>Kim Breakfast</h5>
          <p>curses at people for a living.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1566616213894-2d4e1baee5d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3JhbmRtYXxlbnwwfDB8MHx8&auto=format&fit=crop&w=800&q=60" class="d-block w-100" alt="grannie with hat">
        <div class="carousel-caption d-none d-md-block">
          <h5>Noa Smith</h5>
          <p>loves to go on a sailboat trip with you and takes care of your kids.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  </div>
  </div>
  <div class="my-5 border border-white rounded p-3">
    <p>On a hot spring afternoon, my mother brought my sister and me to visit our grandmother. The three of us were sitting at the kitchen table with our only living grandparent. Such a beautiful afternoon it was, with the sun shining through the windows and onto the clean floor, the Rocky Mountains in the distance, and the hills close by. Surely I couldn’t have asked the Creator for a better day to hear my grandma’s story.</p>
    <p>She had been making berry soup from Saskatoon berries that she had frozen from the past summer. We all had already been telling stories of the past. As my sister and I were talking about living in the city, laughing and having fun with the time we were sharing with our grandma, I asked her, “Mom, what was it like when you were a child?” I call my grandma “Mom” because of how much she is like my own mother.</p>
  </div>
  </div>
</div>
