<div class="container"
      >
  <div class="row justify-content-between py-4">
    <div class="col-6 text-start">
      <button id="list-btn" class="px-3 btn btn-primary" style="" data-action="click->map#hide"><i class="fa-solid fa-list" style="color: white"></i> List</button>
      <button id="map-btn" class="px-3 btn btn-success" style="color: white;" data-action="click->map#show" data-remote="true">
      <i class="fa-solid fa-map-location-dot" style="color: white"></i>
      Map</button>
    </div>
    <div class="col-6 text-end">
      <div>
        <%= link_to "create a new offer", new_offer_path, class: "btn-50" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div data-controller="map" data-map-target="show" data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="mb-5">
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <% search_results = Unsplash::Photo.search('grannies',1, 30, 'landscape') %>
    <% n = 0 %>
    <% @offers.each do |offer| %>
      <div class="col mb-5">
        <div class="card shadow border mx-auto" style="width: 25rem;">
          <img class="card-img-top p-2" src=<%= search_results[n].urls[:small] %> alt="Card image cap">
          <% n += 1 %>
          <div class="card-body text-center">
            <div class="card-title">
              <strong><%= offer.name %></strong>
            </div>
            <div class="card-text m-3">
              <%= offer.description %>
            </div>
            <%= link_to "book this granny", offer_path(offer), class: "btn btn-light border border-dark m-4" %>
            <div class="p-3">
              <small class="text-muted">Loves: </small>
              <%= offer.category %>
            </div>
            <div class="card-footer">
              <small class="text-muted">
                Address: <%= offer.address %>
              </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
