
<div class="text-center my-3">
  <div>
    <%= link_to "create a new offer", new_offer_path, class: "btn-50" %>
  </div>
</div>
<div class="contrainer">
  <div class="row d-flex justify-content-center">
      <% search_results = Unsplash::Photo.search('grannies',1, 30, 'landscape') %>
      <% n = 0 %>
    <% @offers.each do |offer| %>
      <div class="col mb-5">
        <div class="card shadow border mx-auto" style="width: 25rem;">
            <img class="card-img-top p-3 img-fluid img-thumbnail" src=<%= search_results[n].urls[:raw] %> alt="Card image cap">
     <% n += 1 %>
              <div class="card-body text-center">
                  <div class="card-title">
                    <strong><%= offer.name %></strong>
                  </div>
                    <div class="card-text m-3">
                      <%= offer.description %>
                    </div>
                    <%= link_to "more info", offer_path(offer), class: "btn-50" %>
                    <div class="p-3">
                    <small class="text-muted">Loves: </small>
                      <%= offer.category %>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                          Location: <%= offer.location %>
                        </small>
                    </div>
                </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
