

<div class="text-center my-3">
  <div>
    <%= link_to "create a new offer", new_offer_path, class: "btn-50" %>
  </div>
</div>
<div class="contrainer">
  <div class="row d-flex justify-content-center">
    <% @offers.each do |offer| %>
    <% search_results = Unsplash::Photo.search("cats") %>
      <% imgs = [] %>
      <% 30.times do |img| img = "https://source.unsplash.com/random"  %>
      <% imgs << img %>
      <% end %>
      <div class="col mb-5">
        <div class="card shadow border mx-auto" style="width: 25rem;">
            <img class="card-img-top p-2" src=<%= search_results.urls.raw %> alt="Card image cap">
              <div class="card-body text-center">
                  <div class="card-title">
                    <strong><%= offer.name %></strong>
                  </div>
                    <div class="card-text m-3">
                      <%= offer.description %>
                    </div>
                    <%= link_to "book this granny", offer_path(offer), class: "btn btn-light border border-dark m-4" %>
                    <div class="p-3">
                    <small class="text-muted">Loves: </small>
                      <%= offer.category %>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                          Location: <%= offer.location %>
                        </small>
                    </div>
                </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
