<div class="cotainer">
  <h1>This is the show page for an offer</h1>

  <h1><%= @offer.name %></h1>
  <h2>Location: <%= @offer.location %></h2>
  <h2>Description: <%= @offer.description %></h2>
  <h2>Loves: <%= @offer.category %></h2>
  <h2>Available on: <%= @offer.availability %></h2>


  <h3>Create Booking</h3>
  <%= simple_form_for [@offer, @booking] do |f| %>
    <%= f.input :comment %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.submit "Book Offer", class: "btn btn-primary" %>
  <% end %>
</div>
