
<div class="container mb-5 d-flex p-2 justify-content-center">
  <div class="card shadow-box border border-white rounded p-2 mt-5">
    <div class="card-body text-align w-400px">
      <img class="card-img-top p-1 shadow-box img-fluid img-thumbnail" src="https://source.unsplash.com/random/?grandma" alt="Card image cap" >
      <div class="card-title text-center mt-2">
        <strong><h1><%= @offer.name %></h1></strong>
      </div>
      <div class="card-text m-3">
      <div class="border border-black rounded-pill p-4 my-2">
        <%= @offer.description %>
      </div>
        <div class="text-center">
          <p>Loves: <%= @offer.category %></p>
          <p>Available on: <strong><%= @offer.availability %></strong></p>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">
        <p>Location: <%= @offer.location %></p>
        </small>
      </div>
    </div>
  </div>
  <div class="px-5">
    <div class="border border-white rounded p-4 mt-5">
      <% if current_user %>
        <h3>Create Booking</h3>
          <%= simple_form_for [@offer, @booking] do |f| %>
            <%= f.input :comment %>
            <%= f.input :start_time %>
            <%= f.input :end_time %>
            <div class="text-center pt-3">
            <%= f.submit "Book Offer", class: "btn-50" %>
            </div>
          <% end %>
      <% else %>
          <%= link_to "Go to Login", new_user_session_path  %>
      <% end %>
    </div>
  </div>
</div>
